<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>brk</string>
	</array>
	<key>patterns</key>
	<array>
		<dict>
			<key>name</key>
			<string>keyword.other.brk</string>
			<key>match</key>
			<string>\b(Resources|Items)(?=:)\b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>support.function.brk</string>
			<key>match</key>
			<string>ImportScene|ImportResources|When</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>&quot;</string>
			<key>end</key>
			<string>&quot;</string>
			<key>name</key>
			<string>string.quoted.double.brk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>support.type.property-name.brk</string>
			<key>match</key>
			<string>\b(Name|Position|Size|Color|ItemA|ItemB|Variable|Value|Return)(?=:)\b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>storage.type.brk</string>
			<key>match</key>
			<string>\b(Scene|Brick|Part|Primitive|TileMap|Tile|Difference|Intersection|Union|Switch)\b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>support.variable.brk</string>
			<key>match</key>
			<string>[A-z]([-_\.]|[A-z]|[0-9])*</string>
		</dict>
		<dict>
			<key>name</key>
			<string>constant.numeric.brk</string>
			<key>match</key>
			<string>\(-?[0-9]+,-?[0-9]+,-?[0-9]+\)</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>FA4F22B4-180D-417B-B67E-EEEF3F5A9BA4</string>
	<key>keyEquivalent</key>
	<string>^~B</string>
	<key>name</key>
	<string>Brick-o-matic.TextMate</string>
	<key>scopeName</key>
	<string>source.brk</string>
</dict>
</plist>
